.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5%;
  background-color: #000000; 
  position: relative; 
  z-index: 100;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 12px; 
  
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 1px;
}

.brand-logo-img {
  height: 40px; 
  width: auto;
  object-fit: contain;
}

.brand-cyan { color: #00E5FF; }
.brand-white { color: #ffffff; }

.navbar-links {
  display: flex;
  align-items: center;
  gap: 70px; 
}

.navbar-links a {
  text-decoration: none;
  color: #b0b0b0; 
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

.navbar-links a:hover {
  color: #00E5FF;
  text-shadow: 0 0 10px rgba(0, 229, 255, 0.6);
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.bar {
  height: 3px;
  width: 25px;
  background-color: #00E5FF;
  margin: 3px 0;
  border-radius: 5px;
}

.nav-bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(0, 229, 255, 0.3); 
  box-shadow: 0 0 10px rgba(0, 229, 255, 0.2);
}

.nav-corner-circle {
  position: absolute;
  bottom: -6px; 
  width: 12px;
  height: 12px;
  background-color: #000000; 
  border: 2px solid #00E5FF; 
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 229, 255, 0.5);
  z-index: 101;
}

.nav-corner-circle.left {
  left: 5%; 
}

.nav-corner-circle.right {
  right: 5%; 
}

@media (max-width: 968px) {
  .navbar-links {
    display: none; 
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000;
    padding: 20px 0;
    border-bottom: 1px solid #333;
  }

  .navbar-links.active {
    display: flex; 
  }
  
  .navbar-toggle {
    display: flex;
  }
  
  .nav-corner-circle, .nav-bottom-line {
    display: none; 
  }
}